@{
    ViewData["Title"] = "Reto técnico .NET";
}

<div class="text-left">
    <h1 class="display-4">RETO TATA CONSULTANCY SERVICES</h1>
    <h2>Prueba backend</a>.</h2>
    <br />
    <h3>¿Cuántas veces se repite una palabra?</h3>
    <p>
        Debes construir un aplicativo que reciba un texto y que nos retorne cuantas veces se repite una palabra dentro de este. El resultado debe contemplar las siguientes restricciones:
    </p>
    <ol>
        <li>El campo de texto no debe tener restricciones de caracteres.</li>
        <li>
            El resultado de la operación debe contener al menos dos campos: Palabra y número de veces que se repite dentro del texto.
        </li>
        <li>No se deben tener en cuenta ni las comas, ni los puntos.</li>
        <li>
            Las palabras pueden contener mayúsculas, minúsculas o combinadas. Ej.: PAN o Pan o PaN se cuentan como la misma palabra. En este caso el resultado será 3.
        </li>
    </ol>
    <br />
    <p>Ir al código de git <a href="https://github.com/jlmc-git/TestTATA">Link</a>.</p>
</div>
